@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    height: 7vh;
}

main{
    min-height: 100vh;
    padding: 0 20px;
    margin-bottom: 50px;
}

dialog {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 5;
    border: 1px solid white;
    height: 70vh;
    width: 35%;
}

.form{
    color: black;
    height: 100%;
    width: 100%;
}


form{
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form .tarea{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CCD3CA;
}
  

form .fechas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    
}

form .fechas .padre-fecha{
    display: flex;
    flex-direction: column;
}
form .fechas .padre-fecha input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CCD3CA;
    font-size: 16px;
}

form .responsable{
    padding: 15px;
    border: 1px solid #CCD3CA;
    border-radius: 5px;
    font-size: 16px;
}

select option {
    font-family: Arial, sans-serif; /* Cambia la familia de fuente */
    font-size: 16px; /* Cambia el tamaño de la fuente */
    font-weight: 400; /* Cambia el peso de la fuente */
}

form .prioridad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    font-size: 18px;
}

form .botones{
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

form .botones .btn, .mostarModal{
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}

form .botones .cancelar{
    background-color: white ;
    color: #B5C0D0;
    transition: all ease 0.7s;
}

form .botones .guardar, .mostarModal{
    background-color: #836FFF ;
    color: white;
    transition: all ease 0.7s;
}

form .botones .guardar:hover{
    background-color: #6420AA;
    cursor: pointer;
}

form .botones .cancelar:hover{
    background-color: #F6F5F5 ;
    color: black;
    cursor: pointer;
}

.mostarModal{
    margin-top: 10px;
    margin-left: 20px;
}

.mostarModal:hover{
    background-color: #6420AA;
    cursor: pointer;
}

.cards, .tasks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
}

.card{
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
    border-radius: 5px;
    background-color: #fff;
}

.card .opciones, .inicio-fin, .info-responsable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.card .opciones i{
    font-size: 30px;
}

.card .opciones i:hover{
    cursor: pointer;
}

.card .opciones .btnEnded{
    color: #7ED7C1;
    transition: all ease 0.5s;
}

.card .opciones .btnEnded:hover{
    color: #8ADAB2;
    scale: 1.3;
}

.card .opciones .btnFailed{
    color: #FF407D;
    transition: all ease 0.5s;
}

.card .opciones .btnFailed:hover{
    color: #FF407D;
    scale: 1.3;
}

.card .opciones .span-prioridad{
    font-size: 12px;
    color: white;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
}

.span-urgente{
    background-color: #ff5630;
}

.span-noUrgente{
    background-color: #36b37e;
}

.card .inicio-fin .texto-fechas{
    text-align: center;
    font-size: 12px;
}

.card .info-responsable{
    border-top: 1px solid rgb(202, 200, 200);
}

.card .info-responsable .foto{
    object-fit: contain;
    width: 40px;
    border-radius: 50%;
}

.cumplidas-fallidas{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cumplidas, .fallidas{
    width: 100%;
    padding: 5px;
}

.tar-cumplidas{
    box-shadow: 0px 0px 5px 0px #36b37f9c;
}

.tar-fallidas{
    box-shadow: 0px 0px 5px 0px #ff5630b6;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}

.delete{
    font-size: 17px !important;
    color: red;
    transition: all ease 0.5s;
}

.delete:hover{
    scale: 1.2;
}
